* {
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #D7CDCC; }

.header, .footer {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #1D1E2C;
  line-height: 50px; }

.header {
  position: fixed;
  z-index: 1000;
  text-align: center; }

.wrapper {
  position: relative;
  min-height: 100vh; }

.footer {
  position: absolute;
  bottom: 0;
  text-align: right; }

.categories-button, .basket-button {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px; }

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 10px; }

.categories-button:hover, .basket-button:hover {
  background-color: #9C528B; }

.categories-button {
  float: left; }

#categories-list, #basket-window {
  display: none;
  position: absolute;
  top: 50px;
  background-color: white;
  color: #1D1E2C;
  padding: 25px;
  margin: 0; }

.category {
  display: block;
  text-align: left;
  cursor: pointer; }

.categories-button:hover #categories-list {
  display: block; }

.basket-button:hover #basket-window {
  display: block; }

.basket-button {
  float: right; }

#product-list {
  text-align: center;
  padding: 60px 0; }

.product-card {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 50px solid #59656F;
  margin: 10px;
  background-color: white; }

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px; }

