* {
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #D7CDCC; }

.header, .footer {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #1D1E2C;
  line-height: 50px;
  overflow: hidden; }

.header {
  position: fixed;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }

.heading {
  font-family: "Abril Fatface", serif;
  font-size: 28px; }

.wrapper {
  position: relative;
  min-height: 100vh; }

.footer {
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 0 10px; }

#categories-button, #basket-button {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer; }

#categories-button:hover, #basket-button:hover {
  background-color: #9C528B; }

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 10px; }

#categories-button {
  float: left; }

#basket-button {
  float: right; }

#categories-list, #basket-window {
  display: none;
  position: fixed;
  top: 50px;
  background-color: white;
  color: #1D1E2C;
  padding: 10px;
  text-align: left;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1); }

#categories-list {
  z-index: 980;
  left: 0;
  width: 200px; }

#basket-window {
  z-index: 990;
  right: 0;
  width: 350px;
  padding: 10px; }

.basket-item {
  padding: 10px; }

.category {
  display: block;
  cursor: pointer;
  padding: 10px; }

.category:hover {
  background-color: #9C528B;
  color: white; }

#product-list {
  text-align: center;
  padding: 60px 0; }

.product-card {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 300px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  overflow: auto;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1); }

.image-container {
  display: inline-block;
  background-color: white;
  width: 250px;
  height: 250px; }

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  cursor: pointer; }

.product-name {
  display: block;
  padding: 10px;
  color: #1D1E2C; }

.product-price, .old-product-price {
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 10px; }

.product-price {
  color: white;
  background-color: #9C528B; }

.old-product-price {
  color: #1D1E2C;
  text-decoration: line-through; }

.add-to-basket-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: white;
  background-color: #1D1E2C;
  cursor: pointer; }

.add-to-basket-button:hover {
  background-color: #9C528B; }

#dim-screen {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1010; }

#product-window {
  display: none;
  width: 300px;
  height: 138px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -119px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1020;
  text-align: center;
  box-sizing: content-box;
  padding: 50px; }

.tumbleweed-gif {
  display: inline-block; }

