$dark: #1D1E2C;
$middle: #59656F;
$light: #D7CDCC;
$pop: #9C528B;

$tiny: 10px;
$small: 50px;
$card: 300px;
$image:200px;

*{
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: $light;
}

.header, .footer{
  width: 100%;
  height: $small;
  color: white;
  background-color: $dark;
  line-height: $small;
  overflow: hidden;
}

.header{
  position: fixed;
  z-index: 1000;
  text-align: center;
}

.wrapper{
  position: relative;
  min-height: 100vh;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 0 $tiny;
}

#categories-button, #basket-button{
  display: inline-block;
  text-align: center;
  width: $small;
  height: $small;
  cursor: pointer;
}

#categories-button:hover, #basket-button:hover{
  background-color: $pop;
}

.icon{
  display: inline-block;
  width: $small;
  height: $small;
  padding: $tiny;
}

#categories-button{
  float: left;
}

#basket-button{
  float: right;
}

#categories-list, #basket-window{
  display: none;
  width: $card;
  position: fixed;
  top: $small;
  background-color: white;
  color: $dark;
  padding: $tiny;
  text-align: left;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.10);
}

#categories-list{
  z-index: 990;
  left: 0;
}

#basket-window{
  z-index: 980;
  right: 0;
}

.category{
  display: block;
  cursor: pointer;
  padding: $tiny;
}

.category:hover{
  background-color: $pop;
  color: white;
}

#product-list{
  text-align: center;
  padding: $small+$tiny 0;
}

.product-card{
  display: inline-block;
  position: relative;
  text-align: center;
  width: $card;
  height: $card;
  margin: $tiny;
  background-color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.10);
}

.image-container{
  display: inline-block;
  background-color: white;
  width: $image;
  height: $image;
}

.product-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: $tiny;
}

.product-name{
  display: block;
}

.product-price{
  position: absolute;
  top: $tiny;
  left: $tiny;
  padding: $tiny;
  color: white;
  background-color: $pop;
}

.old-product-price{
  text-decoration: line-through;
}

.add-to-cart-button{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: $dark;
  padding: $tiny;
  cursor: pointer;
}

.add-to-cart-button:hover{
  background-color: $pop;
}

.product-window{

}