$dark: #1D1E2C;
$middle: #59656F;
$light: #D7CDCC;
$pop: #9C528B;

$small: 50px;
$card: 300px;

*{
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body{
  margin: 0;
  background-color: $light;
}

.header, .footer{
  width: 100%;
  height: $small;
  color: white;
  background-color: $dark;
  line-height: $small;
}

.header{
  position: fixed;
  z-index: 1000;
  text-align: center;
}

.wrapper{
  padding-top: $small;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $small;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: right;
}

.categories-button, .basket-button{
  display: inline-block;
  cursor: pointer;
  border: 5px solid $pop;
  width: $small;
  height: $small;
}

.categories-button:hover, .basket-button:hover{
  background-color: $pop;
}

.categories-button{
  float: left;
}

.categories-list{

}

.basket-button{
  float: right;
}

.heading{

}

.product-list{

}

.product-card{
  width: $card;
  height: $card;
  background-color: $middle;

}

.product-page{

}

.basket-page{

}