$dark: #1D1E2C;
$middle: #59656F;
$light: #D7CDCC;
$pop: #9C528B;

$tiny: 10px;
$small: 50px;
$card: 300px;

*{
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: $light;
}

.header, .footer{
  width: 100%;
  height: $small;
  color: white;
  background-color: $dark;
  line-height: $small;
  overflow: hidden;
}

.header{
  position: fixed;
  z-index: 1000;
  text-align: center;
}

.wrapper{
  position: relative;
  min-height: 100vh;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: right;
}

.categories-button, .basket-button{
  display: inline-block;
  text-align: center;
  width: $small;
  height: $small;
}

.categories-button:hover, .basket-button:hover{
  background-color: $pop;
}

.icon{
  display: inline-block;
  width: $small;
  height: $small;
  padding: $tiny;
}

.categories-button{
  float: left;
}

.basket-button{
  float: right;
}

#categories-list, #basket-window{
  //display: none;
  width: $card;
  position: fixed;
  top: $small;
  background-color: white;
  color: $dark;
  padding: $tiny;
  text-align: left;
}

#categories-list{
  left: 0;
}

#basket-window{
  right: 0;

}

.category{
  display: block;
  cursor: pointer;
  padding: $tiny 0;
}

.category:hover{
  background-color: $pop;
}

.categories-button:hover #categories-list {
  display: block;
}

.basket-button:hover #basket-window {
  display: block;
}

.heading{

}

#product-list{
  text-align: center;
  padding: $small+$tiny 0;

}

.product-card{
  display: inline-block;
  width: $card;
  height: $card;
  border: $small solid $middle;
  margin: $tiny;
  background-color: white;
}

.product-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: $tiny;
}

.add-to-cart-button{

}

.product-window{

}